<div class="jumbotron">
<h1> About BKCollab</h1>
<p> A place to learn, teach, and grow together. We learn so much each day, but often don't disseminate our learnings past our direct peer group. </p>
<p>
There are many strategic insights waiting to be uncovered by RSC employees,Coaches, BAM’s, and Franchisee's of all BK divisions globally. We need a platform to increase serendipitous collaboration and promote entrepreneurial initiatives.</p>

<p>
People inherently want to help, they want to collaborate, and they want to grow.</p>
<p> BKCollab gives us that platform. </p>
</div>