<div class="jumbotron">
	<H1>Hey, Welcome to my app!</H1>
	<p>Click here to <%= link_to "Sign up", "#", class: "btn btn-primary btn-lg" %>.</p>
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-user"></span> 
</button>
</div>